body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.component {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
}

.component-half {
    flex: 1 1 50%;
    max-width: 50%;
}

.component-full {
    flex: 1 1 100%;
    max-width: 100%;
}

.filedrop-component {
    width: 100%;
    aspect-ratio: 2 / 1;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filedrop-component .icon {
    font-size: 4rem;
    color: #ccc;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .component-half,
    .component-full {
        flex: 1 1 100%;
        max-width: 100%;
    }
}